service cloud.firestore {
  match /databases/{database}/documents {
    function isCurrentUser(user) {
        return request.auth.uid != null && request.auth.uid == user;
    }
    allow read, write: if false;
    match /users/{user} {
      allow read, write: if isCurrentUser(user);
      match /calcs/{calc} {
      	allow read;
        allow write: if isCurrentUser(user);
      }
      match /candidates/{candidate}{
      	match /salaryBlinds/{blind} {
      	    allow read: if false;
        	allow write: if isCurrentUser(user);
        }
      }
    }
  }
}